{% extends "layout.html" %}
{% block body %}
  {%  if session.logged_in %}
    <form action="{{ url_for('add_team') }}" method=post class=add-entry>
  	  <dl>
  	    <dt>Team Name:
  		  <dd><input type=text size=30 name=name>
        <dd><input type=submit value="Add Team">
  	 </dl>
  </form>
  {% endif %}
  <table border="0">
    <tr>
    <th>ID</th>
    <th>Name</th>
    </tr>
    {% for team in teams %}
      <tr>
      <td> {{ team.id }} </td>
      <td> {{ team.name }}</td>   
      </tr>
    {% endfor %}
  </table>
{% endblock %}